<% include ../partials/header %>

  <h1>Blog Posts</h1>
  <% posts.forEach(function(post) { %>
    <article>
      <h3><a href="/post/<%= post.id %>"><%= post.title %></a></h3>
      <p><%= post.content %></p>
      <p><em><%= post.createdAt %></em></p>

      <% users.forEach(function(user) { %>
        <% if (post.userId === user.id) { %>
          <p>Post by: <a href="/user/<%= post.userId %>"><%= user.username %></a></p>
        <% } %>
      <% }) %>

    </article>
  <% }) %>

<% include ../partials/footer %>