<!DOCTYPE html>
<html>
  <head>
    <title>Blog Template</title>
    <link rel="shortcut icon" href="" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <body>
      <div class="row">
        <div class="col-xs-2 col-md-3"></div>
        <div class="col-xs-8 col-md-6 center_column">
          <h1>Blog Posts</h1>
          <% posts.forEach(function(post) { %>
            <article>
              <h3><a href="/post/<%= post.id %>"><%= post.title %></a></h3>
              <p><%= post.content %></p>
              <p><em><%= post.createdAt %></em></p>
              <p>Post by: <a href="/user/<%= post.authorId %>">user <%= post.dataValues.authorId %></a></p>
            </article>
          <% }) %>
        </div>
        <div class="col-xs-2 col-md-3">
          <a href="/blog">Home</a>
          <a href="/post/new">New Post</a>
        </div>
      </div>
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
  </head>
</html>