<% include ../partials/header %>

  <h1>Posts by: <%= user.username %></h1>
  <% posts.forEach(function(post) { %>
    <article>
      <h3><a href="/post/<%= post.id %>"><%= post.title %></a></h3>
      <p><%= post.content %></p>
      <p><em><%= post.createdAt %></em></p>
    </article>
  <% }) %>

<% include ../partials/footer %>